:root {
    font-family: Arial, Helvetica, sans-serif;
    --color-back1: #791818;
    --color-back2: rgb(103, 24, 24);
    --division: 0;
    --result-pin: 11.25deg;
}

body {
    height: 100vh;
    user-select: none;
    overflow: hidden;
    background: repeating-conic-gradient(var(--color-back2) 0deg calc(360/var(--division)*1deg), var(--color-back1) calc(360/var(--division)*1deg) calc(360/var(--division)*2*1deg));
    margin: 0;
    padding: 0;
}

.gradient {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #0000, var(--color-back1));
}

.wheel-container {
    position: relative;
    background-color: var(--color-back1);
    min-width: 600px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow:  16px 16px 15px #691515,
             -16px -16px 15px #891b1b;
}

.wheel-container::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    inset: 5%;
    border-radius: 50%;
    box-shadow: inset 5px 5px 5px #691515,
          inset   -5px -5px 5px #891b1b;
}

.light-bulb {
    top: 0;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.light {
    width: 20px;
    height: 20px;
    box-shadow:  5px 5px 5px #691515,
             -5px -5px 5px #891b1b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-source {
    width: 80%;
    height: 80%;
    background-color: rgb(42, 40, 37);
    border-radius: 50%;
    transition: 0.3s;
}

.on {
    background-color: #fff;
    box-shadow: 0 0 30px #fff,
    0 0 40px #fff,
    0 0 50px #fff,
    0 0 60px #fff,
    0 0 70px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff;
}

.wheel {
    position: absolute;
    height: 88%;
    width: 88%;
    border-radius: 50%;
    inset: 6%;
    background: repeating-conic-gradient(bisque 0deg calc(360/var(--division)*1deg), rgb(66, 130, 66) calc(360/var(--division)*1deg) calc(360/var(--division)*2*1deg));
    transform: rotate();
    transition: transform 5s cubic-bezier(.34,.01,.29,1.03);
}

.pie {
    position: absolute;
    inset: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 50;
}

.prize {
    transform-origin: top left;
    margin: 0;
    height: fit-content;
    font-size: 1.5em;
    transform:  translateX(calc(50% + 0.75rem)) rotate(90deg) ;
    padding-left: 10px;
}

.fixed-part {
    position: absolute;
    width: 120px;
    aspect-ratio: 1/1;
    background-color: var(--color-back2);
    box-shadow: 3px 3px 5px black;
    border-radius: 50%;
    z-index: 50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    font-family: modak;
    font-size: 4rem;
}

.result {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: translateY(-10px) rotate(var(--result-pin));
    font-size: 2rem;
    z-index: 20;
    text-shadow: 5px 5px black;
}

.carrot {
    width: 70px;
    aspect-ratio: 1/1;
    transform: rotate(135deg);
}


@keyframes spin {
    0% {transform: rotate(145deg);}
    50% {transform: rotate(125deg);}
    100% {transform: rotate(145deg);}
}

.score {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transform-origin: center center;
    transition: all 1s linear;
    animation: rotate 8s linear;
    background: repeating-conic-gradient(var(--color-back2) 0deg calc(360/var(--division)*1deg), var(--color-back1) calc(360/var(--division)*1deg) calc(360/var(--division)*2*1deg));
}

@keyframes rotate {
    0% {transform: rotate(0deg) scale(5);}
    100% {transform: rotate(360deg) scale(5);}
}

.score-active {
    display: flex;
}

.score-text {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 7rem;
    font-family: 'Modak', cursive;
    color: aliceblue;
    transform-origin: center center;
    transform: rotate(-10deg);
    animation: move 1s infinite ease-in-out;
}

.score-text::before {
    -webkit-text-stroke: 0.21em black;
}

@keyframes move {
    0% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}

.score-text-active {
    display: flex;
}

    

@media screen and (max-width: 650px) {
    .wheel-container {
        min-width: 80%;
    }

    .fixed-part {
        width: 15%;
        font-size: 2.5rem;
    }

    .prize {
        font-size: 1rem;
        transform:  translateX(calc(50% + 0.5rem)) rotate(90deg) ;
    }

    .result {
        font-size: 1.5rem;
    }

    .light {
        width: 12px;
        height: 12px;
    }

    .score-text {
        font-size: 4rem;
    }
}