:root {
    font-family: Arial, Helvetica, sans-serif;
    --color-back1: #791818;
    --color-back2: rgb(103, 24, 24);
    --division: 0;
    --result-pin: 11.25deg;
}

body {
    height: 100vh;
    user-select: none;
    /* overflow: hidden; */
    background: repeating-conic-gradient(var(--color-back2) 0deg calc(360/var(--division)*1deg), var(--color-back1) calc(360/var(--division)*1deg) calc(360/var(--division)*2*1deg));
    margin: 0;
    padding: 0;
}

.gradient {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #0000, var(--color-back1));
}

.wheel-container {
    position: relative;
    background-color: var(--color-back1);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    box-shadow:  16px 16px 15px #691515,
             -16px -16px 15px #891b1b;
}

.wheel-container::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    inset: 5%;
    border-radius: 50%;
    box-shadow: inset 5px 5px 5px #691515,
          inset   -5px -5px 5px #891b1b;
}

.light-bulb {
    top: 0;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.light {
    width: 20px;
    height: 20px;
    box-shadow:  5px 5px 5px #691515,
             -5px -5px 5px #891b1b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-source {
    width: 16px;
    height: 16px;
    background-color: rgb(42, 40, 37);
    border-radius: 50%;
    transition: 0.15s;
}

.on {
    background-color: #fff;
    box-shadow: 0 0 30px #fff,
    0 0 40px #fff,
    0 0 50px #fff,
    0 0 60px #fff,
    0 0 70px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff;
}

.wheel {
    position: absolute;
    height: 88%;
    width: 88%;
    border-radius: 50%;
    inset: 6%;
    background: repeating-conic-gradient(bisque 0deg calc(360/var(--division)*1deg), rgb(66, 130, 66) calc(360/var(--division)*1deg) calc(360/var(--division)*2*1deg));
    transform: rotate();
    transition: transform 8s cubic-bezier(.34,.01,.29,1.1);
}

.pie {
    position: absolute;
    inset: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 50;
}

.prize {
    text-align: end;
    height: fit-content;
    padding: 20px 0;
    transform: rotate(90deg);
    font-size: 1.5rem;
}

.fixed-part {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--color-back2);
    box-shadow: 3px 3px 5px black;
    border-radius: 50%;
    z-index: 50;
    cursor: pointer;
}

.result {
    position: absolute;
    color: gold;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotate(var(--result-pin));
    font-size: 2rem;
    z-index: 2;
}

i {
    text-shadow: 3px 3px 5px black;
}
    