:root {
    font-family: Arial, Helvetica, sans-serif;
    --color-back1: #791818;
    --color-back2: rgb(103, 24, 24);
    --division: 20
}

body {
    height: 100vh;
    user-select: none;
    /* overflow: hidden; */
    background: repeating-conic-gradient(var(--color-back2) 0deg calc(360/var(--division)*1deg), var(--color-back1) calc(360/var(--division)*1deg) calc(360/var(--division)*2*1deg));
    margin: 0;
    padding: 0;
}

.gradient {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #0000, var(--color-back1));
}

.wheel-container {
    position: relative;
    background-color: var(--color-back1);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    box-shadow:  16px 16px 15px #691515,
             -16px -16px 15px #891b1b;
}

.wheel-container::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    inset: 5%;
    border-radius: 50%;
    box-shadow: inset 5px 5px 5px #691515,
          inset   -5px -5px 5px #891b1b;
}

.light-container {
    height: 100%;
}

.light-bulb {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.light {
    width: 20px;
    height: 20px;
    box-shadow:  5px 5px 5px #691515,
             -5px -5px 5px #891b1b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-source {
    width: 16px;
    height: 16px;
    background-color: rgb(129, 127, 124);
    border-radius: 50%;
}

.on {
    animation: lightSwitch 2s infinite cubic-bezier(1,0,0,1.01);
}

.off {
    animation: lightSwitch 2s infinite cubic-bezier(1,0,0,1.01);
    animation-delay: 1s;
}

@keyframes lightSwitch {
    0% {    
        background-color: #fff;
        box-shadow: 0 0 30px #fff,
        0 0 40px #fff,
        0 0 50px #fff,
        0 0 60px #fff,
        0 0 70px #fff,
        0 0 80px #fff,
        0 0 90px #fff,
        0 0 100px #fff;}
    100% {
    }
}

.wheel {
    height: 88%;
    width: 88%;
    border-radius: 50%;
    inset: 6%;
    position: absolute;
    background: repeating-conic-gradient(bisque 0deg calc(360/var(--division)*1deg), tomato calc(360/var(--division)*1deg) calc(360/var(--division)*2*1deg));
    transition: transform 2s cubic-bezier(.71,.02,.29,1.02);
}

p {
    text-align: center;
}

.fixed-part {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--color-back2);
    box-shadow: 3px 3px 5px black;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}